.modal {
	position: fixed;
	inset: 0;
	z-index: var(--layer-3);
	display: none;
	align-items: safe center;
	justify-content: center;
	padding: 24px 16px;
	overflow-y: auto;
	background-color: var(--text-color);
}

.modal--open {
	display: flex;
}

.modal__window {
	position: relative;
	display: none;
	width: min(100%, 640px);
	padding: 56px 40px 32px;
	border-radius: var(--border-radius-s);
	color: var(--color-light);
	background-color: var(--color-dark);
	box-shadow: 0 0 20px #00000033;
}

.modal__window--open {
	display: block;
}

.modal__window:focus-visible {
	outline-color: var(--color-light);
}

.modal__close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
}

@media (width <= 480px) {
	.modal__window {
		padding-inline: 20px;
	}
}
